.myBtn {
    font-family: 'Akshar', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 1px solid black;
    padding: 8px 15px;
    margin-top: 30px;
    transition: .2s all ease;
    cursor: pointer;
}

.myBtn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.myBtn::before {
    content: 'Bank Added!';
    display: block;
    position: absolute;
    color: black;
    transform: translate(10px, -40px);
    opacity: 0;
    transition: 0.2s;
    cursor: default;
    display: none;
}
.myBtn.myBtnAdded::before {
    display: inline;
    opacity: 1;
    /* animation-duration: 4s;
    animation-name: added;
    animation-iteration-count: infinite; */
}
  
  @keyframes added {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }

    60% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
  }

.myBtnAnim::after {
    content: 'fill in all the fields!!';
    color: black;
    position: absolute;
    transition: .3s all ease;
    transform: translate(-95%, 50px);
    cursor: default;
}