@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Akshar', sans-serif;
    display: flex;
    justify-content: center;
}


main {
    padding: 0;
    max-width: 70%;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 650px) {
    main {
    }
}