.bank-nav {
    padding: 10px 30px;
    font-size: 18px;
    background-color: black;
    margin-bottom: 30px;
    z-index: 1000;
}

.bank-nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white
}

.bank-nav ul li:hover {
    color: rgb(202, 202, 202);
    cursor: pointer;
}

